.padre{
    display: flex;
    justify-content: center;
}

.card {
    background: rgba(99, 96, 255, 0.712);
    height: fit-content;
    position: relative;
    width: fit-content;
    box-shadow: 10px 10px rgb(44, 42, 165);
    transition: 0.5s;
    margin-bottom: 10px;
}

.card:hover {
    border: solid rgb(0, 0, 0);
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 50PX green;
    transition: box-shadow 1s, border-radius 1s;
}

.close {
    font-size: 20px;
    color: red;
    background: white;
    border: solid black 2px;
    border-radius: 100%;
    font-weight: bold;
    position: absolute;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
    opacity: 0.8;
}

.close:hover {
    color: white;
    background: rgb(189, 0, 0);
    border: none;
    border-radius: 100%;
    transition: 0.5s;
}

.favorite {
    font-size: 20px;
    color: red;
    background: none;
    border: none;
    font-weight: bold;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

.name {
    display: flex;
    justify-content: center;
}

.text {
    margin: 0;
    position: absolute;
    bottom: 72px;
    background-color: white;
    border-top: solid rgb(97, 97, 97);
    border-radius: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 10px;
}


.image {
    border-bottom: solid 7px rgb(0, 213, 228);
}

.information {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 0;
    margin-top: 0;
}

.specie {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0px 0px 10px white;
}

.gender {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0px 0px 10px white;
}