body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('https://img.freepik.com/foto-gratis/fondo-galaxia-purpura_1017-3748.jpg?w=1380&t=st=1678140572~exp=1678141172~hmac=40e17b76810ed5d31bfbd3802c93f05888614cce6552c55c118b1835268f2fee'); */
  background-image: url('https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/hc_1440x810/public/media/image/2016/10/rick-morty-critica.jpg?itok=rCQqumI-');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}